* {
  box-sizing: border-box;
}
body {
font-family: 'Times New Roman', Times, serif;
background-image: url("../images/hero-bg.png");
background-size:cover;
margin: 0;
padding:0;
}

/* Header */

header {
  display:flex;
  align-items:center;
  flex-direction:row;
  justify-content:space-between;
  margin: 0 auto;
  max-height:50px;

}

.logo {
  width:40px;
  margin-left:10%;
  border-radius:50%;
}

.menu {
  padding-right:40px;

}

.menu li {
  list-style-type:none;
  display:inline-block;
}

.menu li a {
  text-decoration:none;
  text-transform:uppercase;
  color:white;
  padding: 0 25px;
  position:relative;
  opacity:.50;
}

.menu li a:hover {
  opacity:5;
}

.menu li a::before {
  transition:400ms;
  height:2px;
  content: "";
  position:absolute;
  width:0%;
  bottom:1px;
  background-color:red;
}

.menu li a:hover::before {
width:60%;
}

/* Hero section */

.aboutme {
  display:flex;
  flex-flow:column wrap;
  text-align:center;
}

.hero {
  width:100%;
}
.hero-container {
  margin:0 auto;
  padding: 15% 20%;
}

h1 {
  font-size:2.3em;
  color:white;
  text-align:center;
}

.myname {
  color:yellow;
}

h2 {
  font-size:1.8em;
  color:white;

}

/* My image Section */

.myinfo-container {
  margin:20px;

}

.myinfo-row {
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-evenly;
  background-image:linear-gradient(rgb(108, 4, 4), rgba(123, 8, 134, 0.363));
}

.myinfo.column-1 {
  width:25%;
  }
  .myinfo-column-1 h2 {
  color:black;
  }
  .myinfo.column-2 {
  width:25%;
  
  }
  
  .myinfo-column-2 img {
    height:500px;
    border-radius:50%;
  }
  
  .spacer {
    width:25%;
  }
  
  .spacer-2 {
    width:25%;
    background-color:red;
  }


/* Portfolio SEction */

.portfolio-headline {
text-align:center;
}

.portfolio-container {
  margin:4%;
}

.portfolio-row {
  display:flex;
  flex-flow:row wrap;
  justify-content:space-evenly;
}


.html-background {
  background-image: url(../images/html\-screen.jpg);

}
.css-background {
  background-image: url(../images/CSS\-screen.jpg);
}

.drumset-background {
  background-image: url(../images/javascript-screen.jpg);
}

.simon-background {
  background-image: url(../images/simon.png);
}

.dicee-background {
  background-image: url(../images/dicee.png);
}

.column {
  width:33%;
  margin: 20px 10px;
  transition: transform .2s
}

.column:hover {
  transform: scale(1.5);
}

.html-background, .css-background, .drumset-background, .simon-background, .dicee-background {
  padding:3% 1%;
}

.portfolio-text {
text-align:center;
background-color:gray;
opacity:.75;
position:relative;
bottom:40px;
}

/* Form Section */

h3 {
  font-size:1.4em;
  color:white;
}

.contactme-container {
  padding:2%;
  background-image:linear-gradient(red, purple);
}

.contactme-row {
  display:flex;
  flex-direction:column;
  align-items:center;
}

.contactme-column {
  border: 2px solid gray;
  padding: 15px;
}

.contactme-column input {
  height:50px;
  margin-bottom: 2%;
  
}

.contactme-column input[placeholder], .contactme-column textarea[placeholder] {
  text-align:center;
}

.contactme-column textarea, .contactme-column input {
  width:100%;
  border-radius:15px;
}

#submit {
  display:block;
  margin: 15px auto;
  background-color:rgb(255, 0, 0, 0.186);
  font-weight:bold;
  width: 225px;
  font-weight:bold;
  font-size:1.3em;
  color:white;
  border-radius:20px;
}
